/.idea/
/.vs/
/.vscode/
/Library/
/Temp/
/Logs/
/obj/
/*.sln
/*.suo
/*.csproj
/*.csproj.user
*.DotSettings.user
/*.sublime-project
/*.sublime-workspace
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta